body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

.swim-lanes {
  min-height: 60vh;
}

.task-card {
  margin: 0 auto;
}

.task-card:hover {
  cursor: grab;
}

/************************ Modal  **************************/

.backdrop {
  display: none;
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  height: 100vh;
  width: 100vh;
  z-index: 1;
}

.modal {
  display: none;
  position: fixed;
  background: white;
  padding: 1rem;
  width: 30%;
  height: 30%;
  z-index: 1;
}